body {
    background-color: black;
}
/**/
#sobres {
    z-index: 6;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 90%;
    height: 90vh;
    background-color: rgba(0, 255, 255, 0);
}
#ariba {
    width: 0;
    height: 0;
    left: 50%;
    top: 250px;
    margin: auto;
    position: absolute;
    transform: translate(-50%);
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 150px solid rgb(255, 0, 0);
}
#izquierda {
    z-index: 5;
    width: 0;
    height: 0;
    left: 50%;
    top: 400px;
    margin: auto;
    position: absolute;
    transform: translate(-50%);
    border-right: 400px solid transparent; 
    border-bottom: 300px solid rgb(170, 14, 14); 
}
#atras {
    z-index: 1;
    top: 400px;
    width: 400px;
    height: 300px;
    left: 50%;
    margin: auto;
    position: absolute;
    transform: translate(-50%);
    background-color: brown;
}
#derecha {
    z-index: 4;
    width: 0;
    height: 0;
    left: 50%;
    top: 400px;
    margin: auto;
    position: absolute;
    transform: translate(-50%);
    border-left: 400px solid transparent; 
    border-bottom: 300px solid rgb(112, 2, 2); 
}
/**/
#carta {
    z-index: 3;
    top: 370px;
    max-height: 100%;
    width: 380px;
    position: relative;
    height: 300px;
    background-color: rgb(247, 210, 162);
    left: 50%;
    transform: translate(-50%);
}
@keyframes carta {
    0% {
        z-index: 3;
        top: 370px;
        width: 380px;
        height: 300px;

    }
    50% {
        z-index: 3;
        top: 80px;
        width: 380px;
        height: 300px;
    }
    60% {
        z-index: 7;
    }
    100% {
        z-index: 7;
        top: 80px;
        width: 60%;
        height: 80vh;
    }
}
@keyframes carta1 {

    0% {
        z-index: 7;
        top: 80px;
        width: 60%;
        height: 80vh;
    }
    50% {
        z-index: 7;
        top: 80px;
        width: 380px;
        height: 300px;
    }
    60% {
        z-index: 3;
    }
    100% {
        z-index: 3;
        top: 370px;
        width: 380px;
        height: 300px;

    }

}
/**/
#image {
    width: 200px;
    left: 50%;
    margin: auto;
    position: absolute;
    margin: auto;
    transform: translate(-50%)rotate(-10deg);
    bottom: 100px;
    display: none;
}
@keyframes image {
    0% {
    display: none;

    }
    50%,99% {
    display: none;
    }
    100% {
    display: block;
    }
}
@keyframes image1 {
    0% {
    display: none;

    }
    50% {
    display: none;
    }
    100% {
    display: none;
    }
}

#image img{
    width: 100%;
}
.cinta {
    max-width: 100%;
    width: 70px;
    height: 20px;
    background-color: rgba(206, 206, 206, 0.856);
    position: absolute;
}
#cinta1 {
    right: -22px;
    transform: rotate(45deg);
}
#cinta2 {
    right: -22px;
    bottom: 0;
    transform: rotate(-45deg);
}
#cinta3 {
    left: -22px;
    transform: rotate(-45deg);
}
#cinta4 {
    left: -22px;
    bottom: 0;
    transform: rotate(45deg);
}
/**/
#texto {
    top: 30px;
    margin: 10px;
    font-size: 16px;
    position: relative;
    font-weight: bolder;
    display: none;
}
@keyframes texto {
    0% {
    display: none;

    }
    50%,99% {
    display: none;
    }
    100% {
    display: block;
    }
}
@keyframes texto1 {
    0% {
    display: none;

    }
    50% {
    display: none;
    }
    100% {
    display: none;
    }
}