body {
    background-color: black;
    max-width: 100%;
    
}

#buscador{
    width: 100%;
    height: 34px;
    max-width: 100%;
    text-align: center;
}

#search-input {
    padding: 3px;
    width: 70%;
    height: 20px;
    border-radius: 30px;
    border: none;
}
#playlist {
    color: #ffffff;
    width: 100%;
    height: 85vh;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(56, 56, 56);
    padding: 2px;
    overflow-x: hidden;
    scrollbar-width: none;
}
#track-list {
    padding: 10px;
}
#track-list li {
    background-color: black;
    margin-bottom: 10px;
    font-weight: bolder;
    padding: 10px;
}
ul  {
    list-style-type: none;
}
#player {
    max-width: 100%;
    bottom: 20px;
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    display: none;
    left: 0;
    position: absolute;
}
#current-track-info {
    width: 30%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
}
#controls {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
/**/
#botones {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#botones img {
    width: 70%;
    height: auto;
    margin: auto;
}
#botones button {

    border-radius: 50%;
    border: none;
    font-size: 15px;
    margin: 2px;
    border: none;
}
#play-pause-btn {
    width: 40px;
    height: 40px;
}
#play-pause-btn:active, #play-pause-btn:hover{
    background-color: rgb(0, 255, 0);
}
#play-pause-btn img:active {
    filter: invert(100%);
}
#play-pause-btn img:hover {
    filter: invert(100%);
}
#prev-track-btn, #next-track-btn {
    width: 30px;
    height: 30px;
}
/**/

#progress-bar {
    width: 90%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
    display: flex;
    align-items: center;
}
#progress {
    max-width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#progress:active , #volume:active {
    background-color: rgb(60, 255, 0);
}
#progress:hover , #volume:hover {
    background-color: rgb(60, 255, 0);
}

#volume-bar {
    max-width: 100%;
    width: 25%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
    display: flex;
    align-items: center;
}
#volume {
    max-width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px){
    #player {
        width: 100%;
        height: 13vh;
        margin: auto;
        display: none;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
    }
    #controls {
        width: 100%;

    }
    #current-track-info {
        width: 90%;
        height: 20px;
        justify-content: left;
        margin: auto;
    }
    #volume-bar {
        display: none;
    }
    #progress-bar {
        width: 90%;
        height: 9px;
    }
    #progress {
        max-width: 100%;
        height: 12px;
    }
}