body {
    background:linear-gradient(135deg, #000027, #7700ff);
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/**/

#notificacion,#notificacion2 {
    padding-top: 200px;
    width: 100%;
    height: 100vh;
    position: absolute;
    text-align: center;
}
#notificacion2 {
    display: none;
}
/**/

#todo {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 140px;
    display: none;
}

.corazon {
    padding: 20px;
    width: 100px;
    height: 100px;
    animation: daniel 2s infinite;
}
.corazon div{
    background-color: rgb(0, 238, 255);
}

.ladoderecho {
    width: 80px;
    height: 80px;
    top: 14%;
    left: 14%;
    border-radius: 50%;
    position: absolute;
    animation: danielm 2s infinite;
}
@keyframes danielm {
    0% {
        top: 1%;
        left: 0%;
    }
    50% {
        left: 26%;
        top: 26%;
    }
    100%{
        top: 1%;
        left: 0%;
    }
}
.ladoizquierdo {
    width: 80px;
    height: 80px;
    left: 38%;
    top: 14%;
    border-radius: 50%;
    position: absolute;
    animation: daniels 2s infinite;
}
@keyframes daniels {
    0% {
        left: 48%;
        top:  4%;
    }
    50% {
        left: 26%;
        top: 26%;
    }
    100%{
        left:48%;
        top: 4%;
    }
}
.ladocentro {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 26%;
    top: 26%;
    transform: rotate(45deg);
    animation: danield 2s infinite;
}
@keyframes danield {
    0% {
        border-radius: 0%;
    }
    50% {
        border-radius: 50%;
    }
    100%{
        border-radius: 0%;
    }
}
@keyframes daniel {
    0% {
        transform:rotate( 0deg);
    }
    100% {
        transform:rotate( 360deg);
    }
}

.sombreado {
    padding: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 275px;
}
.sombra{
    width: 40px;
    height: 10px;
    position: absolute;
    left: 30%;
    margin: auto;
    border-radius: 100%;
    background-color: rgba(8, 5, 0, 0.466);
    animation: sombra 2s infinite;
}
@keyframes sombra {
    0% {
        width: 80px;
        height: 10px;
        left: 27%;
    }
    50% {
        width: 60px;
        height: 10px;
        left: 35%;
    }
    100%{
        width: 80px;
        height: 10px;
        left: 27%;
    }
}

/**/
#mensaje {
    justify-content: center;
    display: none;
}
p {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: cursive;
    margin-right: 10px;
    text-align: center;
}
#texto {
    display: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: cursive;
    margin-right: 10px;
    text-align: center;
}