* {
    box-sizing: border-box;
    padding: 0 5px;
}

/*MODO OSCURO*/
.dark .contenido .secion {
    border: 1px solid rgb(255, 255, 255);

}
/*--------------*/
/*CONTENIDO*/
.contenido {
    margin: 10% 10%;
}
/*SECION*/
p {
    font-weight: bolder;
}
.secion {
    padding: 10px;
    overflow-y: auto;
    white-space: nowrap;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.img {
    display: inline-block;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.img:hover {
    transform: scale(1.1);
    opacity: 50%;
}
/*BARRA DE DESPLAZAMIENTO*/
::-webkit-scrollbar {
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(190, 190, 190, 0);
    border-radius: 10px;
}
/*---------MEDIDA DE CELULARES-----------*/
@media screen and (max-width:500px) {
    /*SECION*/
    .secion {
        max-width: 100%;
        scrollbar-width: none;
    }

    /*IMAGENES*/
    .img {
        width: 200px;
    }
}