
.dark #cuenta {
    background-color: rgb(92, 91, 91);
    color: white;
    transition: background-color 2s ease;
    transition: color 0.5s ease;
}
.dark .ImgPerfil {
    border: 3px solid rgb(255, 255, 255);
    transition: border 0.5s ease;
}
.dark .im {
    background-color: rgb(255, 255, 255);
    transition: background-color 2ms ease;
}
.dark .im{
    filter: invert(100%);
    transition: filter 0.5s ease;
}
.dark .men {
    color: white;
    
}
.dark .men:hover {
    color: white;
    box-shadow: 0 0 20px 5px rgb(255, 0, 0);
}
.dark .label {
    color: white;
    transition: color 0.5s ease;
}
/**/
.perfil {
    width: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 4;
}
.perfil img {
    width: 50px;
    height: 50px;
    margin: 30px;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
    object-fit: cover;
}
.perfil img:hover {
    background: rgba(131, 131, 131, 0.747);
}
/*----------CUENTA O PERFIL---------*/
#cuenta {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(0); /* Mueve el div fuera de la pantalla */
    animation: slideIn 0.5s forwards; /* Animación de entrada */
    z-index: 7;
}
.datos {
    position: relative;
    margin: 10px;
    padding: 10px;
    height: 95%;
}

/*redes*/
.redes {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 5px;
    bottom: 10px;
    width: calc(100% - 20px);
    justify-content: center;
}
.redes .red {
    max-width: 50px;
    height: 50px;
    margin: 2px;
}
.red img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
  
@keyframes slideIn {
    from {
      transform: translateX(-100%); /* Posición inicial */
    }
    to {
      transform: translateX(0%); /* Posición final */
    }
}
.ImgPerfil {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
    overflow: hidden;
}
.ImgPerfil img {
    width: 100px;
    height: 100px;
    object-fit: contain;

}
#cerrarCuenta {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
}
p {
    font-size: 15px;
    font-weight: bolder;
}

.modo {
    position: absolute;
    right: 10px;
}
/*Buscador*/

.mun {
    display: none;
}

.label {
    display: none;
}

.menu {
    padding: 3%;
    margin: 0% 0% 20px 0%;
    text-align: right;
}

.men {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-weight: bold;
    margin: 10px;
}

.men:hover {
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px 5px rgb(0, 0, 0);
    border-radius: 10px;
}

.mostrar {
    margin: 2%;
    z-index: 2;
    text-align: right;
}


/*tamaño celular*/

@media screen and (max-width:500px ) {

    /*Buscador*/

.menu {
    margin: 10px;
    text-align: right;
    background: none;
    padding: 2%;
}

/*menu desplegable*/

.mostrar {
    margin: auto;
    display: none;
    position: fixed;
    background: rgb(155, 153, 153);
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    transform: translateX(0); 
    animation: slideI 0.5s forwards;
}
@keyframes slideI {
    from {
        top: -100%; 
    }
    to {
        top: 10%; 
    } 
}
input:checked ~ .mostrar {
    display: block;
}

.label {
    display:inline-block;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 30px;
    padding: 0px 10px;

}

.men {
    display: block;
    text-align: center;
}

.label:hover {
    background: rgba(107, 106, 106, 0.315);

}

.men:hover {
    background-color: rgb(119, 119, 119);
    color: white;
}
/*-----------CUENTA O PERFIL----------*/
#cuenta {
    width: 100%;
}
.perfil {
    margin: 30px;   
}
.perfil img {
    margin: 30px;
    width: 20px;
    height: 30px;
}
}
@media screen and (max-width:700px ){
    #cuenta {
        width: 100%;
    }
    .perfil {
        margin: 0px;
    }
    .perfil img {
        width: 30px;
        height: 30px;
    }
    .menu {
        margin: 15px ;
        text-align: right;
        background: none;
        padding: 3%;
    }
}